svg{
    width: 90%;
    height: 100vh;
    background: transparent;
    float: left;
    position: absolute;
    z-index: -1;
}

#tool{
    width: 100px;
    height: 100vh;
    background: rgb(58, 58, 58);
    position: absolute;
    margin-left: 0px;
    padding-left: 5px;
    border: 5px solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-color: rgb(58, 58, 58);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#content{
    position: absolute;
    left:117px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(220, 220, 220) 1px, transparent 1px), linear-gradient(to bottom, rgb(220, 220, 220) 1px, transparent 1px);
    height:100%;
    width: 90%;
    background-size:20px 20px;
    z-index: -1;
}

#info{
    width: 200px;
    height: 100vh;
    background: rgb(58, 58, 58);
    position: absolute;
    right: 0px;
    border-color: rgb(58, 58, 58);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.info{
    display: block;
    -webkit-text-fill-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background: #7a7a7a;
    font-family: 'Helvetica';
    font-size: 13px;
    position: relative;
    z-index: 9;
}

#guide{
    display: block;
    -webkit-text-fill-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: #7a7a7a;
    font-family: 'Helvetica';
    font-size: 13px;
    position: relative;
    letter-spacing: 1.5;
    line-height: 2;

}

.info-button{
    display: block;
    -webkit-text-fill-color: white;
    height: 25px;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(6, 218, 94);
    font-family: 'Helvetica';
    font-size: 13px;
    position: relative;
    pointer-events: all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info-node-buttons{
    width: 100%;
    margin: 10px;
}
.info-node-button{
    display: inline-flex;
    -webkit-text-fill-color: white;
    height: 25px;
    width: 31.5%;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    padding-left: 20px;
    border-radius: 5px;
    background: rgb(6, 218, 94);
    font-family: 'Helvetica';
    font-size: 13px;
    position: relative;
    pointer-events: all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info-button:hover{
    background: rgb(6, 218, 94);
}

.info:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 60%;
    bottom: 0;
    left: 0;
    background: rgb(6, 218, 94);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#element:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    border-radius: 5px;
}

label{
    text-align: right;
    position: absolute;
    right: 10px;
    max-width: 80px;
    min-width: 30px;
    min-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

label:hover{
    background: #3f3f3f;
    border-radius:5px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    right: 6px;
    bottom: 3px;
}

.clickedit{
    position: absolute;
    right: 10px;
    width: 40%;
    text-align: right;
    background: #3f3f3f;
    border-radius:5px;
    padding-left: 4px;
    padding-right: 4px;
    right: 6px;
    bottom: 2px;
    font-size: 12px;
}

button:focus {outline:0;}

.clickedit:focus {
    outline: 0;
    border: 1px solid white;
    caret-color: white;
}

.node {
    cursor: move;
}

button {
    width: 100px;
    background: linear-gradient(#7a7a7a, rgb(92, 92, 92));
    padding: 10px;
    border: solid 1px;
    border-color: none;
    font-family: 'Helvetica';
    font-size: 15px;
    margin-top: 5px;
    -webkit-text-fill-color: rgb(255, 255, 255);
    border-radius: 5px;
}

button:hover{
    background:linear-gradient(#a0a0a0, rgb(114, 114, 114));
}

button:focus{
    background:linear-gradient(#7a7a7a, rgb(92, 92, 92));
    border-color: none;
}

#paper{
    background: white;
    width: 90%;
    height: 100vh;
    float: left;
    position: absolute;
    z-index: -2;
}

.scale-node#se{
    cursor: se-resize;
}

.scale-node#ne{
    cursor: ne-resize;
}

.scale-node#sw{
    cursor: sw-resize;
}

.scale-node#nw{
    cursor: nw-resize;
}

#logger{
    position: absolute;
    top:10;
    left:50%;
    color: red;
    background: white;
}

.linker{
    cursor: default;
}

.edge{
    cursor: move;
}