svg{
    width: 100%;
    height: 100vh;
    background: none;
    float: left;
}

#tool{
    width: 100px;
    height: 100vh;
    background: rgb(236, 236, 236);
    position: absolute;
    margin-left: 0px;
}

#content{
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(112, 112, 112) 1px, transparent 1px), linear-gradient(to bottom, rgb(112, 112, 112) 1px, transparent 1px);
    height:100%;
    background-size:20px 20px;
}

#info{
    width: 200px;
    height: 100vh;
    background: rgb(236, 236, 236);
    position: absolute;
    right: 0px;
}

.node {
    cursor: move;
}

button {
    width: 100px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border: solid 1px;
    border-color: black;
    font: 'Arial';
    font-size: 15px;
    margin-top: 5px;
    -webkit-text-fill-color: rgb(0, 0, 0);
    border-radius: 5px;
}

#paper{
    background: linear-gradient(#d6d6d6, #e4e4e4);
    width: 100%;
    height: 100vh;
    float: left;
}

.scale-node#se{
    cursor: se-resize;
}

.scale-node#ne{
    cursor: ne-resize;
}

.scale-node#sw{
    cursor: sw-resize;
}

.scale-node#nw{
    cursor: nw-resize;
}

#logger{
    position: absolute;
    top:10;
    left:50%;
    color: red;
    background: white;
}

.linker{
    cursor: default;
}